# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/build/classes/java/main/
/neoforge/.gradle/
/neoforge/build/
/neoforge/build/classes/java/main/
/packs/villager_quests/.gradle/
/packs/villager_quests/build/
/packs/rpg_series_quests/.gradle/
/packs/rpg_series_quests/build/
/libs
/fabric/run
/.idea